body {
    background-image: url("../images/Blondie.jpg");
    align-content: left;
    background-repeat: repeat;
}

#instructions {
    margin: 10px;
    color: white;
}

.btn {
    margin: 10px;
}

p {
    color: white;
}